<p id="notice"><%= notice %></p>

<p>
  <strong>Loveword:</strong>
  <%= @loveinstagram.loveword %>
</p>

<%= link_to 'Edit', edit_loveinstagram_path(@loveinstagram) %> |
<%= link_to 'Back', loveinstagrams_path %>
