<p id="notice"><%= notice %></p>

<p>
  <strong>Loveword:</strong>
  <%= @loveyotube.loveword %>
</p>

<%= link_to 'Edit', edit_loveyotube_path(@loveyotube) %> |
<%= link_to 'Back', loveyotubes_path %>
