// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_main {
  padding-top: 4%;
}
.home_title {
  font-size: 500%;
  padding-top: 4%;
  padding-bottom: 4%;
  color: #ffffff;
}
.home_link {
  font-size: 120%;
  padding: 10px 40px 10px 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0.8;
}
.home_link:visited {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.home_link:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #ffffff;
  color: #3461f5;
  text-decoration: none;
  opacity: 0.8;
}
.home_link:active {
  border: 1px solid #ffffff;
  color: #ffffff;
}
